<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>AGLabs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>


        /*const _tableList =
            "<table id='tableList'>" +
            "<thead>" +
            "    <tr>" +
            "       <th>code</th>" +
            "		<th>title</th>" +
            "		<th>type</th>" +
            "		<th>status</th>" +
            "       <th>dateStart</th>" +
            "       <th>dateEnd</th>" +
            "	</tr>" +
            "</thead>" +
            "<tbody>" +
            "{bodys}" +
            "</tbody>" +
            "</table>";

        const _tableItem =
            "    <tr>" +
            "       <td>{code}</td>" +
            "		<td>{title}</td>" +
            "		<td>{type}</td>" +
            "		<td>{status}</td>" +
            "		<td>{dateStart}</td>" +
            "		<td>{dateEnd}</td>" +
            "	</tr>";

                */
        const _tableList =
            "<table id='tableList' class='table table-striped table-bordered table-condensed table-hover cursor: pointer'>" +
            "    <thead>" +
            "        <tr>" +
            "            <th>Código</th>" +
            "            <th>Titulo</th>" +
            "            <th>Tipo</th>" +
            "            <th>Status</th>" +
            "            <th>Data Inicial</th>" +
            "            <th>Data Final</th>" +
            "        </tr>" +
            "    </thead>" +
            "    <tbody>" +
            "{bodys}" +
            "    </tbody>" +
            "</table>";


        const _tableItem =
            "<tr>" +
            "    <td>{code}</td>" +
            "    <td>{title}</td>" +
            "    <td>{type}</td>" +
            "    <td>{status}</td>" +
            "    <td>{dateStart}</td>" +
            "    <td>{dateEnd}</td>" +
            "</tr>";

        /*const url_base = 'http://localhost:3001/v1/campaign';
        
        function listar() {
            fetch(`${url_base}/`)
                .then(response => response.json())
                .then(result => {
                    carregarLista(result);
                })
        }

        function carregarItem(response) {
            idCampaign = response.campaign._id
            document.getElementById("inputTitle").value = response.campaign.title

        }

        function buscar() {
            const titleInput = document.getElementById('inputTitle').value
            fetch(`${url_base}/find/${titleInput}`)
                .then(response => response.json())
                .then(result => {
                    carregarItem(result);
                })
        }

        function fazGet(url) {
            let request = new XMLHttpRequest()
            request.open("GET", url, false)
            request.send()
            return request.responseText
        }

        function fazPost(url, body) {
            console.log("body=", body)
            let request = new XMLHttpRequest()
            request.open("POST", url, true)
            request.setRequestHeader("Content-type", "application/json")
            request.send(JSON.stringify(body))
            request.onload = function () {
                console.log(this.responseText)
            }

            return request.responseText
        }

        function excluir () {
            console.log('excluir')

            if (!idCampaign){
                return;
            }

            var 

        }

        function cadastraEvento() {
            event.preventDefault()
            let url = "http://localhost:3001/v1/campaign/"
            let title = document.getElementById("inputTitle").value
            let type = document.getElementById("inputType").value
            let status = document.getElementById("inputStatus").value
            let dateStart = document.getElementById("inputdateStart").value
            let dateEnd = document.getElementById("inputdateEnd").value
            let pageHtml = document.getElementById("inputpageHtml").value
            let emailToSend = document.getElementById("emailToSend").value
            let host = document.getElementById("inputHost").value
            let port = document.getElementById("inputPort").value
            let name = document.getElementById("inputName").value
            let email = document.getElementById("inputEmail").value
            let user = document.getElementById("inputUser").value
            let pass = document.getElementById("inputPass").value

            console.log(title)

            body = {
                "title": title,
                "type": type,
                "status": status,
                "date_start": dateStart,
                "date_end": dateEnd,
                "pageHtml": pageHtml,
                "emailToSend": emailToSend,
                "smtp": {
                    "host": host,
                    "port": port,
                    "name": name,
                    "email": email,
                    "user": user,
                    "pass": pass
                }

            }

            fazPost(url, body)
        }

        function carregarLista(request) {
            var conteudoItems = "";
            console.log(request)
            request.campaign.map(item => {

                var tableItem = _tableItem
                    .replace("{title}", item.title)
                    .replace("{type}", item.type)
                    .replace("{status}", item.status)
                    .replace("{dateStart}", item.date_start)
                    .replace("{dateEnd}", item.date_end);

                conteudoItems += tableItem;
            });
            var tableList = _tableList
                .replace("{items}", conteudoItems);

            var listaItem = document.getElementById("listaItem");

            listaItem.innerHTML = tableList;
        }

        var tabela = document.getElementById("allTable");
        var linhas = tabela.getElementsByTagName("tr");

        for (var i = 0; i < linhas.length; i++) {
            var linha = linhas[i];
            linha.addEventListener("click", function () {
                //Adicionar ao atual
                selLinha(this, false); //Selecione apenas um
                //selLinha(this, true); //Selecione quantos quiser
            });
        }*/

        const urlBase = "http://localhost:3001/v1/campaign"

        let idCampaign = undefined;

        function pegarModel() {
            var model = {
                code: document.getElementById("inputCode").value,
                title: document.getElementById("inputTitle").value,
                type: document.getElementById("inputType").value,
                dateStart: document.getElementById("inputDateStart").value,
                dateEnd: document.getElementById("inputDateEnd").value,
                status: document.getElementById("inputStatus").value,
                pageHtml: stringToBase64(document.getElementById("inputPageHtml").value),
                emailToSend: stringToBase64(document.getElementById("inputEmailToSend").value),
                smtp: {
                    host: document.getElementById("inputHost").value,
                    port: document.getElementById("inputPort").value,
                    name: document.getElementById("inputName").value,
                    email: document.getElementById("inputEmail").value,
                    user: document.getElementById("inputUser").value,
                    pass: document.getElementById("inputPass").value
                }
            }
            return model;
        }

        function setarModel(model) {

            console.log(model);

            idCampaign = model ? model._id : undefined;
            document.getElementById("inputCode").value = model ? model.code : "";
            document.getElementById("inputTitle").value = model ? model.title : "";
            document.getElementById("inputType").value = model ? model.type : "";
            document.getElementById("inputDateStart").value = model ? model.dateStart : "";
            document.getElementById("inputDateEnd").value = model ? model.dateEnd : "";
            document.getElementById("inputStatus").value = model ? model.status : "";
            document.getElementById("inputPageHtml").value = model ? base64ToString(model.pageHtml) : "";
            document.getElementById("inputEmailToSend").value = model ? base64ToString(model.emailToSend) : "";
            document.getElementById("inputHost").value = model ? model.smtp.host : "";
            document.getElementById("inputPort").value = model ? model.smtp.port : "";
            document.getElementById("inputName").value = model ? model.smtp.name : "";
            document.getElementById("inputEmail").value = model ? model.smtp.email : "";
            document.getElementById("inputUser").value = model ? model.smtp.user : "";
            document.getElementById("inputPass").value = model ? model.smtp.pass : "";

            return model;

        }

        function limpar() {
            console.log('limpar')

            setarModel(null);

            document.getElementById("divList").innerHTML = "";
        }


        function listar() {
            console.log('listar')
            var node = `/`

            execRequest("GET", node, null, (json) => {
                var objCampaign = JSON.parse(json)
                console.log(objCampaign)
                carregarLista(objCampaign.campaign)
            })
        }

        function carregarLista(campaigns) {

            var tableItems = "";
            console.log(campaigns)
            campaigns?.map(campaign => {
                var tableItem = _tableItem
                    .replace("{code}", campaign.code)
                    .replace("{title}", campaign.title)
                    .replace("{type}", campaign.type)
                    .replace("{dateStart}", campaign.dateStart)
                    .replace("{dateEnd}", campaign.dateEnd)
                    .replace("{status}", campaign.status);

                tableItems += tableItem;
            })

            var tableList = _tableList
                .replace("{bodys}", tableItems);

            document.getElementById("divList").innerHTML = tableList;
            if (tableList) {
                setarListaClick()
            }
        }

        function stringToBase64(value) {
            var result = btoa(value)
            console.log(result)
            return result;
        }

        function base64ToString(value) {
            var result = atob(value)
            console.log(result)
            return result;
        }

        function buscar() {
            console.log('buscar')

            var title = document.getElementById("inputTitle").value;

            if (!title) {
                var node = `/`

                execRequest("GET", node, null, (json) => {
                    var objCampaign = JSON.parse(json)
                    console.log(objCampaign)
                    objCampaign?.campaign?.map(item => {
                        setarModel(item)
                    })
                })
            }

            var node = `/find/${title.replace(" ", "%20")}`

            execRequest("GET", node, null, (json) => {
                var objCampaign = JSON.parse(json)
                console.log(objCampaign)
                objCampaign?.campaign?.map(item => {
                    setarModel(item)
                })
            })
        }

        function buscarPorAtivas() {
            console.log('buscar por campanhas ativas')

            var status = document.getElementById("inputStatus").value;

            if (!status) {
                return;
            }
            var node = `/find/${active.replace(" ", "%20")}`

            execRequest("GET", node, null, (json) => {
                var objCampaign = JSON.parse(json)
                console.log(objCampaign)

                objCampaign?.campaign?.map(item => {
                    setarModel(item)
                })
            })
        }

        function salvar() {
            console.log('salvar')

            var rest = idCampaign ? "PUT" : "POST";

            var node = idCampaign ? `/${idCampaign}` : "";

            var model = pegarModel()


            execRequest(rest, node, model, (json) => {
                alert('gravação efetuada com sucesso');

            })
        }

        function excluir() {
            console.log('excluir')

            if (!idCampaign) {
                return;
            }

            var node = `/${idCampaign}`;

            execRequest("DELETE", node, null, (json) => {
                alert('exclusao efetuada com sucesso')
            })
        }

        function GetCellValues(rowIndex, colIndex) {
            var table = document.getElementById('tableList');
            for (var r = 0, n = table.rows.length; r < n; r++) {
                for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                    if (r == rowIndex && c == colIndex) {
                        return table.rows[r].cells[c].innerHTML;
                    }
                }
            }
        }

        function execRequest(rest, node, data, action) {

            var site = `${urlBase}${node}`;

            console.log(`${rest} - ${site}`);

            const request = new XMLHttpRequest()

            request.open(rest, site)

            if (data) {
                console.log("data ->");
                console.log(data);

                request.setRequestHeader("Content-type", "application/json")
                request.send(JSON.stringify(data))
            }
            else {
                request.send()
            }

            request.onload = function () {
                console.log(this.responseText)
                action(this.responseText)
            }
        }

        function setarListaClick() {
            if (!document.getElementsByTagName || !document.createTextNode)
                return;
            var rows = document.getElementById('tableList')
                .getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            for (i = 0; i < rows.length; i++) {
                rows[i].onclick = function () {
                    var campaign = GetCellValues(this.rowIndex, 0)
                    document.getElementById("inputCode").value = campaign
                    buscar()
                }
            }
        }

    </script>
</head>

<body class="container">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <header>
    </header>
    <main>
        <div class="text-center">
            <img src="https://altogirolabs.s3.us-east-2.amazonaws.com/agcode/assets/images/site/logo-commerce.png"
                width="150" height="30" />
        </div>
        <div class="jumbotron row-sm-2" align="center">
            <h2>CAMPANHA</h2>
        </div>
        <form>
            <div class="form-group col-md-1">
                <label style="font-size: 16; font-weight: bold;">Código</label>
                <input type="text" class="form-control" id="inputCode" placeholder="Código">
            </div>
            <div class="form-group">
                <label style="font-size: 16; font-weight: bold">Título</label>
                <input type="text" class="form-control" id="inputTitle" placeholder="Insira o título">
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label style="font-size: 16; font-weight: bold">Tipo</label>
                    <select id="inputType" class="form-control">
                        <option selected="">Escolher...</option>
                        <option>Campanha</option>
                        <option>Promoção</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label style="font-size: 16; font-weight: bold">Status</label>
                    <select id="inputStatus" class="form-control">
                        <option selected="">Escolher...</option>
                        <option>Ativo</option>
                        <option>Inativo</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label style="font-size: 16; font-weight: bold">Início</label><br>
                <input id="inputDateStart" type="datetime-local">
            </div>
            <div class="form-group">
                <label style="font-size: 16; font-weight: bold">Termino</label><br>
                <input id="inputDateEnd" type="datetime-local">
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label style="font-size: 16; font-weight: bold">Host</label>
                    <input type="text" class="form-control" id="inputHost" placeholder="smtp.office365.com">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label style="font-size: 16; font-weight: bold">Porta</label>
                    <input type="text" class="form-control" id="inputPort" placeholder="Insira a porta">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label style="font-size: 16; font-weight: bold">Nome</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Insira o nome">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label style="font-size: 16; font-weight: bold">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="email@example.com">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label style="font-size: 16; font-weight: bold">Usuário</label>
                    <input type="text" class="form-control" id="inputUser" placeholder="user@example.com">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label style="font-size: 16; font-weight: bold">Senha</label>
                    <input type="text" class="form-control" id="inputPass" placeholder="Senha">
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Upload</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </form>
        </form>
        <div class="form-group">
            <button onclick="limpar()" type="button" class="btn btn-primary">Limpar</button>
            <button onclick="buscar()" type="button" class="btn btn-primary">Buscar</button>
            <button onclick="salvar()" type="button" class="btn btn-primary">Salvar</button>
            <button onclick="listar()" type="button" class="btn btn-primary">Listar</button>
            <button onclick="excluir()" type="button" class="btn btn-danger">Excluir</button>
        </div>
        <div class="form-group">
            <label style="font-size: 16; font-weight: bold">Conteúdo da página</label><br>
            <textarea id="inputPageHtml" name="inputPageHtml" rows="5" cols="38">
        </textarea>
        </div>
        <div class="form-group">
            <label style="font-size: 16; font-weight: bold">Lista de Emails</label><br>
            <textarea id="inputEmailToSend" name="inputEmailToSend" rows="5" cols="38">
        </textarea>
        </div>
        <div id="divList">
        </div>
    </main>
    <script>
        function submitSucessAlert() {
            alert("Sucess!!!")
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>