<div class="main">
    <div class="main2">
        <img src="https://altogirolabs.s3.us-east-2.amazonaws.com/apromocao/assets/Mobile-login+1.svg" />
        <label style="font-size: 16; font-weight: bold;">Título</label>
        <input type="text" class="form-control-row-md-05" id="inputTitle" placeholder="Insira o título">
    </div>
</div>