<div class="main">
    <div class="main2">
        <img class="img" src="https://altogirolabs.s3.us-east-2.amazonaws.com/apromocao/assets/Mobile-login+1.svg"
            width="500" height="639" />
        <label class="label-user" for="input-user" style="font-size: 16; font-weight: bold;">Usuário</label>
        <input type="text" class="form-control-row-md-05" id="input-user" placeholder="example@example.com">
        <label class="label-password" for="input-password" style="font-size: 16; font-weight: bold;">Senha</label>
        <input type="text" class="form-control-row-md-05" id="input-password" placeholder="Password">
        <button onclick="" type="button" class="btn-login">Entrar</button>
        <div class="footer">AGLABS</div>
    </div>
</div>