<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <%- body%>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>TESTE EJS</h1>
                <p>BEM VINDO</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

</body>

</html>